* {
margin: 0;
padding: 0;
}

header {
 height: 50px;
 width: 100%;
  
}

nav {
  display: block;
}

nav ul {
  margin: o auto;
  width:100%;
}

li {
  float: left;
  padding: 0 10px;
  width: 50px;
}

ul, li {
  list-style: none;
  margin: 2em;
  
}

.main {
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}